**/*.o
tinygrad
.cache/
wm.img
debian.qcow
debian-testing-amd64-netinst.iso
wlroots
build

# executables
matrix
trampoline

# ignore jpgs, because they are working images that are really large from Dalle
images/*.jpg