**/*.o
tinygrad
.cache/
wm.img
debian.qcow
debian-testing-amd64-netinst.iso
wlroots
build

**/node_modules

# executables
matrix
trampoline

# ignore jpgs, because they are working images that are really large from Dalle
images/*.jpg

# protos
include/protos/*.cc
include/protos/*.h