**/*.o
tinygrad
.cache/
wm.img
debian.qcow
debian-testing-amd64-netinst.iso

**/node_modules

# executables
matrix
trampoline

# ignore jpgs, because they are working images that are really large from Dalle
images/*.jpg

# protos
src/*pb.cc
include/protos/*.h

logs
build

py/scns